.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

* {
    -fx-font-family: Arial;
}

.table-view .table-column {
}

#tablesRightButton {
    -fx-background-image: url('/screens/resources/icons/rightArrow.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
}

#tablesLeftButton {
    -fx-background-image: url('/screens/resources/icons/rightArrow.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
    -fx-rotate: 180;
}

#loansChosenLabel,
#loansFoundLabel {
    -fx-font-size: 16;
    -fx-text-fill: #50a0c0;
    -fx-font-weight: BOLD;
}

#increaseYazButton,
#loadFileButton {
    -fx-background-color: #50a0c0;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}
