.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

#tablesRightButton {
    -fx-background-image: url('/screens/resources/icons/rightArrow.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
}

#tablesLeftButton {
    -fx-background-image: url('/screens/resources/icons/rightArrow.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
    -fx-rotate: 180;
}


